@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fffdf5; /* Creamy background */
    --foreground: #1a1a1a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
